<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="./register" method="POST">
        <div>
            <span>username:</span>
            <input type="text" name="username">
        </div>
        <div>
            <span>password:</span>
            <input type="text" name="password">
        </div>
        <div>
            <span>phone:</span>
            <input type="phone" name="phone">
        </div>
        <input type="submit" value="提交">
    </form>

</body>

</html>